@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes ripple {
  0% {
    transform: scale(1); }
  75% {
    transform: scale(1.75);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

html, body {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif; }

.heading-hero-primary {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.26;
  text-shadow: 3px 3px 20px #00000066, -2px 1px 30px #00000066; }
  @media only screen and (max-width: 992px) {
    .heading-hero-primary {
      font-size: 48px; } }
  @media only screen and (max-width: 768px) {
    .heading-hero-primary {
      font-size: 36px; } }
  @media only screen and (max-width: 575px) {
    .heading-hero-primary {
      font-size: 30px; } }

.heading-hero-secondary {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  line-height: 1.26;
  display: block; }
  @media only screen and (max-width: 992px) {
    .heading-hero-secondary {
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    .heading-hero-secondary {
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    .heading-hero-secondary {
      font-size: 24px; } }

.heading-primary {
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 700;
  color: #19649c; }
  @media only screen and (max-width: 992px) {
    .heading-primary {
      margin-bottom: 40px;
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    .heading-primary {
      margin-bottom: 30px;
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    .heading-primary {
      margin-bottom: 30px;
      font-size: 24px; } }

.heading-secondary {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: #19649c; }

.heading-tertiary {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  color: #19649c; }

.heading-four {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #19649c;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 600;
  color: #19649c;
  text-transform: uppercase; }

.heading-five {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #19649c;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 600;
  color: #19649c;
  text-transform: uppercase; }

.conten-para p,
.content-para li {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal; }
  .conten-para p:last-child,
  .content-para li:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 992px) {
    .conten-para p,
    .content-para li {
      font-size: 16px;
      line-height: 1.7; } }
  @media only screen and (max-width: 768px) {
    .conten-para p,
    .content-para li {
      font-size: 14px;
      line-height: 1.7; } }

.mr-bottom {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .mr-bottom {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mr-bottom {
      margin-bottom: 3rem; } }

.mr-top {
  margin-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .mr-top {
      margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mr-top {
      margin-top: 3rem; } }

.p-bottom {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .p-bottom {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .p-bottom {
      margin-bottom: 3rem; } }

.p-top {
  margin-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .p-top {
      margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .p-top {
      margin-top: 3rem; } }

.space-one {
  height: 40px; }

@media screen and (max-width: 575px) {
  .primary-list {
    padding: 0;
    margin-left: 4rem; } }

.primary-list li {
  position: relative; }
  .primary-list li:before {
    content: "";
    background-image: url("../images/primary-list-01.png");
    background-size: cover;
    position: absolute;
    top: 15px;
    left: -30px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }

.inner-hero-section {
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 100% 36%;
  background-repeat: no-repeat; }
  .inner-hero-section.result {
    background-position: 100% 24%; }
  .inner-hero-section::before {
    content: "";
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s; }
  .inner-hero-section:hover::before {
    opacity: 0; }
  .inner-hero-section .container {
    position: relative; }

.inner-hero-section-two {
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  .inner-hero-section-two::before {
    content: "";
    background: #000000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .inner-hero-section-two .container {
    position: relative; }

.blockquote {
  padding: 1.5rem 3rem;
  font-size: 20px;
  border-radius: 0 0 0 0;
  border-left: 4px solid #ffffff;
  color: white;
  display: flex;
  flex-direction: column; }
  .blockquote em {
    font-size: 1.6rem;
    text-align: right; }
  .blockquote strong {
    display: block;
    margin-top: 2rem; }

.owl-nav {
  display: flex;
  justify-content: flex-end;
  gap: 5px; }
  .owl-nav button {
    background: #19649c !important;
    border: 1px solid #19649c !important;
    height: 3rem;
    width: 3rem; }
    .owl-nav button i {
      color: white; }

.global-btn-one {
  font-size: 15px;
  padding: 10px 24px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #ffffff;
  color: #ffffff;
  transition: 0.4s ease; }
  .global-btn-one:hover {
    color: #3F676F;
    background: #ffffff !important; }

.global-btn-two {
  font-size: 15px;
  padding: 10px 24px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #19649c !important;
  background: #19649c;
  color: #ffffff;
  transition: 0.4s ease;
  display: inline-block; }
  .global-btn-two:hover {
    color: #19649c;
    background: transparent; }

.global-btn-three {
  font-size: 15px;
  padding: 10px 24px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #92278f;
  background: transparent;
  color: #92278f;
  transition: 0.4s ease;
  display: inline-block; }
  .global-btn-three:hover {
    color: #ffffff;
    background: #92278f; }

section.marq-section {
  background: #cb3236;
  padding: 5px 0;
  height: 34px; }
  section.marq-section marquee {
    color: #ffffff;
    text-transform: uppercase; }

.hero-section {
  position: relative; }
  .hero-section button.owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    border: 1px solid #ffffff !important; }
  .hero-section button.owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 1rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    border: 1px solid #ffffff !important; }
  .hero-section .fa-solid {
    color: #ffffff; }
  .hero-section .form-con h1 {
    font-size: 60px;
    text-transform: uppercase; }
  .hero-section .form-con h2 {
    font-size: 36px; }
  .hero-section .form-con .global-btn-three {
    border-color: #ffffff;
    margin-top: 1.5rem; }
    .hero-section .form-con .global-btn-three:hover {
      background: #ffffff; }
      .hero-section .form-con .global-btn-three:hover a {
        color: #14b7f1; }
    .hero-section .form-con .global-btn-three a {
      color: #ffffff; }
  .hero-section .confidence-wrapper {
    position: relative; }
    .hero-section .confidence-wrapper::before {
      content: "";
      background: #000;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s; }
    .hero-section .confidence-wrapper:hover::before {
      opacity: 0; }
    .hero-section .confidence-wrapper img {
      height: 100%;
      object-fit: cover;
      object-position: bottom; }
      @media screen and (max-width: 991.9px) {
        .hero-section .confidence-wrapper img {
          object-position: bottom right; } }
    @media screen and (max-width: 991.9px) {
      .hero-section .confidence-wrapper {
        height: 20rem; } }
    @media screen and (min-width: 992px) {
      .hero-section .confidence-wrapper {
        height: 57rem; } }
    .hero-section .confidence-wrapper .confidence-content {
      position: absolute;
      bottom: 0;
      transform: translate(-50%, -50%);
      left: 50%; }
      @media screen and (min-width: 1000px) {
        .hero-section .confidence-wrapper .confidence-content {
          max-width: 100rem; } }
      @media screen and (max-width: 768px) {
        .hero-section .confidence-wrapper .confidence-content {
          padding: 0 4rem; } }
      .hero-section .confidence-wrapper .confidence-content h1 {
        font-size: 80px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        text-shadow: 3px 3px 20px #00000066, -2px 1px 30px #00000066; }
        @media screen and (max-width: 768px) {
          .hero-section .confidence-wrapper .confidence-content h1 {
            font-size: 30px;
            text-align: center; } }
      .hero-section .confidence-wrapper .confidence-content h6 {
        font-size: 24px;
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        line-height: 1.5; }
        @media screen and (max-width: 768px) {
          .hero-section .confidence-wrapper .confidence-content h6 {
            font-size: 16px;
            text-align: center; } }
        @media screen and (min-width: 768px) {
          .hero-section .confidence-wrapper .confidence-content h6 {
            width: 60rem; } }
        @media screen and (min-width: 1200px) {
          .hero-section .confidence-wrapper .confidence-content h6 {
            width: 70rem; } }

.why-cis .why-btn {
  margin-top: 4rem; }

.why-cis .primary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; }
  @media screen and (max-width: 600px) {
    .why-cis .primary-grid {
      grid-template-columns: repeat(1, 1fr); } }
  .why-cis .primary-grid .primary-grid-items {
    position: relative;
    height: 200px; }
    @media screen and (max-width: 600px) {
      .why-cis .primary-grid .primary-grid-items {
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .why-cis .primary-grid .primary-grid-items {
        height: 230px; } }
    .why-cis .primary-grid .primary-grid-items img.img-fluid {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .why-cis .primary-grid .primary-grid-items .overlay-content {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00000082;
      padding: 5px 0;
      width: 100%;
      text-align: center; }
      .why-cis .primary-grid .primary-grid-items .overlay-content h4 {
        margin-bottom: 0;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.5px; }

.icon-area .icon-box-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }
  .icon-area .icon-box-grid .icon-box-items {
    position: relative;
    background: #3F676F;
    transition: 0.4s ease;
    min-height: 196px;
    border-bottom: 2px solid #3F676F; }
    .icon-area .icon-box-grid .icon-box-items:not(:last-child) {
      border-right: 2px solid #ffffff; }
    .icon-area .icon-box-grid .icon-box-items a {
      color: #ffffff;
      padding: 30px 30px;
      display: block; }
    .icon-area .icon-box-grid .icon-box-items .icons {
      width: 70px;
      margin-left: auto;
      margin-right: auto; }
      .icon-area .icon-box-grid .icon-box-items .icons img {
        filter: invert(1) brightness(2); }
    .icon-area .icon-box-grid .icon-box-items .content {
      text-align: center; }
      .icon-area .icon-box-grid .icon-box-items .content h6 {
        font-size: 26px;
        font-weight: 700;
        line-height: 1;
        margin-top: 40px; }
    .icon-area .icon-box-grid .icon-box-items i {
      position: absolute;
      top: 0;
      right: 0;
      color: #3F676F;
      background: #CCE3DE;
      padding: 10px;
      border-radius: 20px 0 20px 20px; }
    .icon-area .icon-box-grid .icon-box-items:hover {
      background: #CCE3DE; }
      .icon-area .icon-box-grid .icon-box-items:hover:not(:last-child) {
        border-right: 2px solid #3F676F; }
      .icon-area .icon-box-grid .icon-box-items:hover a {
        color: #3F676F; }
      .icon-area .icon-box-grid .icon-box-items:hover img {
        filter: none; }
      .icon-area .icon-box-grid .icon-box-items:hover i {
        background: #3F676F;
        color: #ffffff; }

@media screen and (max-width: 991.9px) {
  .director-section img {
    margin-bottom: 2rem; } }

input#txtComment {
  display: none; }

.universal-tabs {
  padding: 7rem 0;
  background: #EAF4F4;
  position: relative; }
  .universal-tabs::before {
    content: "";
    background-image: url(../images/Background.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    mix-blend-mode: luminosity;
    opacity: 0.3;
    background-position: bottom; }
  .universal-tabs .container {
    position: relative; }
    .universal-tabs .container .row.mt-large {
      width: fit-content;
      margin-left: auto;
      margin-right: auto; }
  .universal-tabs ul.nav {
    justify-content: space-between; }
    .universal-tabs ul.nav li.nav-item {
      width: 32%;
      text-align: center; }
      .universal-tabs ul.nav li.nav-item button {
        width: 100%;
        border: 2px solid #3F676F;
        color: #3F676F;
        text-transform: uppercase;
        font-weight: 600; }
        .universal-tabs ul.nav li.nav-item button.active {
          background-color: #3F676F;
          color: #ffffff;
          position: relative; }
          .universal-tabs ul.nav li.nav-item button.active::before {
            content: "";
            background: #3F676F;
            height: 15px;
            width: 15px;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%) rotate(45deg);
            position: absolute; }
  .universal-tabs .media-news {
    padding-top: 5rem; }
    .universal-tabs .media-news .content-para p {
      margin-bottom: 3rem; }

.about-section {
  padding: 30rem 0 2rem 0;
  margin-bottom: 7rem;
  background-image: url(../images/bg-09.jpg);
  background-size: cover;
  background-position: 100% 14%;
  position: relative;
  display: none; }
  .about-section::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s; }
  .about-section:hover::before {
    background: rgba(0, 0, 0, 0); }
  .about-section .container {
    position: relative; }
  .about-section .about-img img {
    filter: brightness(1.3); }
  .about-section .heading-fourth {
    color: #92278f; }
  .about-section .row {
    padding-top: 5rem; }
    .about-section .row ul {
      padding-left: 50px;
      padding-right: 20px; }
      .about-section .row ul li:not(:last-child) {
        padding-bottom: 10px; }
  @media screen and (min-width: 1200px) {
    .about-section .content-para.text-center {
      padding: 0 130px; } }

.acheivements .row.ach-exp {
  width: fit-content;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto; }

.acheivements .card {
  margin-bottom: 3rem;
  background: transparent;
  border: 1px solid #000080;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.4s ease; }
  .acheivements .card .heading-five {
    color: #000080;
    border-color: #000080; }
  .acheivements .card:hover {
    background: #19649c;
    box-shadow: none; }
    .acheivements .card:hover a,
    .acheivements .card:hover h4,
    .acheivements .card:hover i {
      color: #ffffff; }
    .acheivements .card:hover .heading-five {
      background: #ffffff;
      color: #19649c;
      border-color: #19649c; }
    .acheivements .card:hover img {
      transform: scale(1.2);
      filter: grayscale(1); }
  .acheivements .card h4 {
    transition: 0.4s ease;
    color: #000080;
    font-family: "Poppins", sans-serif !important; }
  .acheivements .card a {
    color: inherit;
    transition: 0.4s ease; }
    .acheivements .card a i {
      display: block;
      text-align: right;
      padding-top: 20px;
      font-size: 30px;
      color: #000080; }
  .acheivements .card .achv-content {
    padding: 30px 30px 20px 30px; }
  .acheivements .card .achv-img {
    overflow: hidden;
    border-radius: 10px 10px 0 0; }
    .acheivements .card .achv-img img {
      transition: 0.4s ease;
      object-fit: cover;
      object-position: left;
      min-height: 300px; }

.latest-article-section .latest-card {
  margin-top: 5rem; }
  .latest-article-section .latest-card__image img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(1.3); }
  .latest-article-section .latest-card__content {
    position: relative;
    padding: 60px 15px 30px 15px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-color: #19649c;
    border-style: solid; }
    .latest-article-section .latest-card__content .global-btn-two {
      margin-top: 20px;
      background: #19649c;
      border-color: #19649c !important; }
      .latest-article-section .latest-card__content .global-btn-two:hover {
        background: transparent;
        color: #19649c; }
    .latest-article-section .latest-card__content .heading-fourth {
      color: #19649c; }
    .latest-article-section .latest-card__content .date {
      position: absolute;
      top: -50px;
      right: 20px;
      background: #19649c;
      color: #ffffff;
      font-size: 7rem;
      font-weight: 700;
      line-height: 0.9;
      text-align: center;
      padding: 10px; }
      .latest-article-section .latest-card__content .date span {
        display: block;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase; }

.prospectus {
  background: #19649c;
  padding: 3rem 0;
  position: relative; }
  .prospectus .container-fluid {
    position: relative;
    z-index: 1; }
  .prospectus .prospectus-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; }
    .prospectus .prospectus-grid__content {
      text-align: center; }
      .prospectus .prospectus-grid__content h6 {
        padding-top: 10px;
        text-align: center;
        color: #ffffff;
        font-family: "Poppins", sans-serif !important; }
      .prospectus .prospectus-grid__content a {
        display: grid;
        place-content: center;
        padding: 1rem 2rem;
        background: #14507d;
        color: #ffffff; }
        .prospectus .prospectus-grid__content a img {
          width: 60px;
          margin: auto;
          filter: brightness(0) invert(1); }
        .prospectus .prospectus-grid__content a i {
          font-size: 30px; }

.awards-recognition .awards-slider {
  margin-top: 7rem; }
  .awards-recognition .awards-slider .awards-img img {
    height: 245px;
    width: 100%;
    object-fit: cover;
    object-position: top; }

.facility {
  text-align: center; }
  .facility .owl-dots .owl-dot:not(:last-child) {
    margin-right: 7.5px; }
  .facility .owl-dots .owl-dot span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
    background: #000080; }
  .facility .owl-dots .owl-dot.active span {
    background: #19649c; }
  .facility .item a {
    display: block;
    margin: 1rem 0; }
  .facility .facility-item {
    text-align: center;
    border-bottom: 3px solid;
    padding: 3rem 0 0 0;
    border-radius: 0.5rem;
    transition: 0.4s ease;
    border-bottom-color: #19649c; }
    @media screen and (max-width: 768px) {
      .facility .facility-item {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 0.5rem 3rem; } }
    @media screen and (min-width: 768.1px) {
      .facility .facility-item {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; } }
    .facility .facility-item .ico-content {
      background: #19649c;
      padding: 3rem 1.8rem; }
      @media screen and (min-width: 1200px) and (max-width: 1399.9px) {
        .facility .facility-item .ico-content {
          height: 250px; } }
      @media screen and (min-width: 992px) and (max-width: 1199.9px) {
        .facility .facility-item .ico-content {
          height: 280px; } }
      @media screen and (min-width: 600px) and (max-width: 991.9px) {
        .facility .facility-item .ico-content {
          height: 290px; } }
    .facility .facility-item:hover {
      transform: translateY(-5px);
      border-bottom-color: #000080; }
      .facility .facility-item:hover .icon {
        transform: rotate(360deg);
        background: #000080; }
      .facility .facility-item:hover h4 {
        color: #ffffff; }
    .facility .facility-item h4,
    .facility .facility-item p {
      color: #ffffff;
      font-family: "Poppins", sans-serif !important; }
    .facility .facility-item .icon {
      transition: 1s ease-out;
      background: #19649c;
      margin-bottom: 2rem;
      display: inline-block;
      padding: 25px;
      border-radius: 100%;
      margin-bottom: 20px; }
      .facility .facility-item .icon img {
        width: 5rem;
        filter: brightness(10) invert(1); }
  .facility h4 {
    clear: both;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 20px; }
  .facility p {
    color: #707070; }

.youtube-videos .owl-carousel {
  margin: -20px 0; }

.youtube-videos .modal-dialog {
  width: 100%;
  max-width: 90%;
  margin: auto; }

.youtube-videos .modal-content {
  background: transparent; }
  .youtube-videos .modal-content button {
    position: absolute;
    right: 0;
    top: -30px; }
  .youtube-videos .modal-content .modal-body {
    padding: 0; }

.interaction-videos .interaction-wrapper {
  transition: 0.4s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 22px 0px;
  margin: 20px 0; }
  .interaction-videos .interaction-wrapper:hover {
    transform: translateY(-5px); }
    .interaction-videos .interaction-wrapper:hover img {
      transform: scale(1.1); }
  .interaction-videos .interaction-wrapper .item {
    padding: 20px; }
  .interaction-videos .interaction-wrapper .interact-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 20rem; }
    .interaction-videos .interaction-wrapper .interact-img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      transition: 0.4s ease; }
    .interaction-videos .interaction-wrapper .interact-img .interact-overlay {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }
      .interaction-videos .interaction-wrapper .interact-img .interact-overlay::after {
        content: "";
        background: #ffffff;
        position: absolute;
        top: 42%;
        height: 12px;
        z-index: -1;
        width: 12px;
        left: 50%;
        transform: translate(-50%, -50%); }
      .interaction-videos .interaction-wrapper .interact-img .interact-overlay a {
        color: #ffffff; }
      .interaction-videos .interaction-wrapper .interact-img .interact-overlay i {
        color: #f00;
        font-size: 3rem; }
  .interaction-videos .interaction-wrapper .interact-contant {
    padding: 2rem;
    display: none; }
    .interaction-videos .interaction-wrapper .interact-contant h4 {
      text-transform: uppercase;
      font-size: 16px; }
    .interaction-videos .interaction-wrapper .interact-contant .content-para {
      text-align: center;
      margin: 1rem 0; }

.interaction-videos .owl-nav {
  transition: 0.4s ease;
  display: flex;
  justify-content: flex-end;
  gap: 1rem; }
  .interaction-videos .owl-nav button .fa-solid {
    background: #19649c;
    height: 3rem;
    display: grid;
    width: 3rem;
    border-radius: 50%;
    place-content: center;
    color: #fff;
    font-size: 2rem; }
  .interaction-videos .owl-nav button.owl-prev {
    left: 0; }
  .interaction-videos .owl-nav button.owl-next {
    right: 0; }

.interaction-videos:hover .owl-nav {
  opacity: 1;
  visibility: visible; }

.holistic-section .rightImg {
  margin-bottom: 2rem; }
  @media screen and (min-width: 575px) {
    .holistic-section .rightImg {
      float: right;
      width: 55rem;
      margin-left: 2rem; } }

@media screen and (max-width: 992px) {
  .cis-compare table th, .cis-compare table td {
    font-size: 14px; } }

.cis-compare table th:first-child, .cis-compare table td:first-child {
  width: 250px; }

.cis-compare table th:not(:first-child), .cis-compare table td:not(:first-child) {
  width: 40%; }

.cis-compare table thead {
  background: #19649c; }
  .cis-compare table thead th {
    color: #ffffff; }

.cis-compare table tbody tr:nth-child(even) {
  background: rgba(25, 100, 156, 0.1); }

.cis-compare table tbody tr:hover {
  background: rgba(25, 100, 156, 0.18); }

.cis-compare table strong {
  display: block; }

.cis-vs-traditional table {
  margin-bottom: 0; }
  .cis-vs-traditional table th, .cis-vs-traditional table td {
    width: 50%; }
    @media screen and (max-width: 992px) {
      .cis-vs-traditional table th, .cis-vs-traditional table td {
        font-size: 14px; } }
  .cis-vs-traditional table thead {
    background: #19649c; }
    .cis-vs-traditional table thead th {
      color: #ffffff; }
  .cis-vs-traditional table tbody tr:nth-child(even) {
    background: rgba(25, 100, 156, 0.1); }
  .cis-vs-traditional table tbody tr:hover {
    background: rgba(25, 100, 156, 0.18); }

.cis-vs-traditional .tr-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top; }

.groundbreaking {
  background: #19649c;
  padding: 7rem 0; }
  .groundbreaking h2 {
    margin-bottom: 0; }
  .groundbreaking .left-image {
    width: 50rem;
    float: right;
    margin-left: 2rem;
    margin-bottom: 1.5rem; }
  @media screen and (min-width: 1200px) {
    .groundbreaking p strong {
      font-size: 36px; } }
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    .groundbreaking p strong {
      font-size: 24px; } }
  .groundbreaking figcaption {
    text-align: center;
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700; }
  .groundbreaking figure {
    float: left;
    width: 30rem;
    margin-right: 1rem; }
    @media screen and (max-width: 768px) {
      .groundbreaking figure {
        float: none;
        width: 80%;
        margin: auto !important; } }

.social-initiatives .col-md-6 {
  text-align: center; }

.social-initiatives .ini-photos, .social-initiatives .ini-videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .social-initiatives .ini-photos img, .social-initiatives .ini-videos img {
    border-radius: 1rem;
    height: 175px;
    object-fit: cover; }

.achv-content h4 {
  text-transform: capitalize; }
