section.marq-section {
    background: #cb3236;
    padding: 5px 0;
    height: 34px;
    marquee{
        color: $colorWhite;
        text-transform: uppercase;
    }
}
.hero-section {
    position: relative;
    @include respond (tab-land-after){
        display: flex;
    background: rgba($colorBgBlue, 1);
    @include respond (tab-land-after){
        .hero-slider {
    flex: 0 0 calc(100% - 330px);
    max-width: calc(100% - 330px);
}
.hero-form-area{
    flex: 0 0 330px;
    max-width: 330px;
}
    }
    }
    button.owl-prev {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 1rem;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-content: center;
        border: 1px solid $colorWhite !important;
    }

    button.owl-next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 1rem;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-content: center;
        border: 1px solid $colorWhite !important;
    }

    .fa-solid {
        color: $colorWhite;
    }

    @include respond (tab-port-after) {
        align-items: center;
    }

    @include respond (tab-port-before) {
        place-items: center;
    }

    .form-con {

        h1 {
            font-size: 60px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 36px;
        }

        .global-btn-three {
            border-color: $colorWhite;
            margin-top: 1.5rem;

            &:hover {
                background: $colorWhite;

                a {
                    color: $colorBlue;
                }
            }

            a {
                color: $colorWhite;
            }
        }
    }

    .confidence-wrapper {
        position: relative;

        &::before {
            content: "";
            background: #000;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
        }

        &:hover{
            &::before{
                opacity: 0;
            }
        }

        img {
            height: 100%;
            object-fit: cover;
            object-position: bottom;

            @media screen and (max-width:991.9px) {
                object-position: bottom right;
            }
        }

        @media screen and (max-width:991.9px) {
            height: 20rem;
        }

        @media screen and (min-width:992px) {
            height: 57rem;
        }

        .confidence-content {
            position: absolute;
            bottom: 0;
            transform: translate(-50%, -50%);
            left: 50%;
            @media screen and (min-width:1000px) {
                max-width: 100rem;
            }

            @media screen and (max-width:768px) {
                padding: 0 4rem;
            }

            h1 {
                font-size: 80px;
                font-weight: 700;
                color: $colorWhite;
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                text-shadow: 3px 3px 20px #00000066, -2px 1px 30px #00000066;

                @media screen and (max-width:768px) {
                    font-size: 30px;
                    text-align: center;
                }
            }

            h6 {
                font-size: 24px;
                color: $colorWhite;
                font-family: "Poppins", sans-serif;
                line-height: 1.5;

                @media screen and (max-width:768px) {
                    font-size: 16px;
                    text-align: center;
                }

                @media screen and (min-width:768px) {
                    width: 60rem;
                }

                @media screen and (min-width:1200px) {
                    width: 70rem;
                }
            }
        }
    }
}

.why-cis {
    .primary-heading {
        @include respond (tab-land-after) {
            text-align: left;
        }
    }

    .why-btn {
        margin-top: 4rem;

        @include respond (tab-land-before) {
            margin-bottom: 3rem;
            text-align: center;
        }
    }

    .primary-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

        @media screen and (max-width:600px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .primary-grid-items {
            position: relative;
            height: 200px;

            @media screen and (max-width:600px) {
                height: 300px;
            }

            @media screen and (min-width:1200px) {
                height: 230px;
            }

            img.img-fluid {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .overlay-content {
                position: absolute;
                bottom: 0;
                left: 0;
                background: #00000082;
                padding: 5px 0;
                width: 100%;
                text-align: center;

                h4 {
                    margin-bottom: 0;
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }
            }
        }

    }

}


.icon-area {
    .icon-box-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        @include respond(tab-land-before) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond(phone-before) {
            grid-template-columns: repeat(1, 1fr);
        }

        .icon-box-items {
            position: relative;
            background: $colorPrimary;
            transition: $transition;
            min-height: 196px;
            border-bottom: 2px solid $colorPrimary;

            &:not(:last-child) {
                border-right: 2px solid $colorWhite;
            }

            &:last-child {
                @include respond(tab-land-before) {
                    grid-column: span 2;
                }

                @include respond(phone-before) {
                    grid-column: span 1;
                }
            }

            a {
                color: $colorWhite;
                padding: 30px 30px;
                display: block;
            }

            .icons {
                width: 70px;
                margin-left: auto;
                margin-right: auto;

                img {
                    filter: invert(1) brightness(2);
                }
            }

            .content {
                text-align: center;

                h6 {
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 1;
                    margin-top: 40px;
                }
            }

            i {
                position: absolute;
                top: 0;
                right: 0;
                color: $colorPrimary;
                background: $colorTertiary;
                padding: 10px;
                border-radius: 20px 0 20px 20px;
            }

            &:hover {
                background: $colorTertiary;

                &:not(:last-child) {
                    border-right: 2px solid $colorPrimary;
                }

                a {
                    color: $colorPrimary;
                }

                img {
                    filter: none;
                }

                i {
                    background: $colorPrimary;
                    color: $colorWhite;
                }
            }
        }
    }
}

.director-section {
    img {
        @media screen and (max-width:991.9px) {
            margin-bottom: 2rem;
        }

        @include respond(tab-port-after) {
            width: calc(100% - 16rem);
        }
    }
}

input#txtComment {
    display: none;
}

.universal-tabs {
    padding: 7rem 0;
    background: $colorFourth;
    position: relative;

    &::before {
        content: "";
        background-image: url(../images/Background.jpg);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        mix-blend-mode: luminosity;
        opacity: 0.3;
        background-position: bottom;
    }

    .container {
        position: relative;

        .row.mt-large {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include respond(tab-land-before) {
        padding: 5rem 0;
    }

    @include respond(tab-port-before) {
        padding: 3rem 0;
    }

    ul.nav {
        justify-content: space-between;

        li.nav-item {
            width: 32%;
            text-align: center;

            button {
                width: 100%;
                border: 2px solid $colorPrimary;
                color: $colorPrimary;
                text-transform: uppercase;
                font-weight: 600;

                &.active {
                    background-color: $colorPrimary;
                    color: $colorWhite;
                    position: relative;

                    &::before {
                        content: "";
                        background: $colorPrimary;
                        height: 15px;
                        width: 15px;
                        left: 50%;
                        bottom: 0;
                        transform: translate(-50%, 50%) rotate(45deg);
                        position: absolute;
                    }
                }
            }
        }
    }

    .media-news {
        padding-top: 5rem;

        .content-para {
            p {
                margin-bottom: 3rem;
            }
        }
    }
}

.about-section {
    padding: 30rem 0 2rem 0;
    margin-bottom: 7rem;
    background-image: url(../images/bg-09.jpg);
    background-size: cover;
    background-position: 100% 14%;
    position: relative;
    display: none;

    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
    }

    &:hover{
        &::before{
            background: rgba(0, 0, 0, 0);
        }
    }

    .container {
        position: relative;
    }

    @include respond (tab-port-before) {
        margin-bottom: 4rem;
    }

    .about-img {
        img {
            filter: brightness(1.3);
        }
    }

    .heading-fourth {
        color: $colorPurple;
    }

    .row {
        padding-top: 5rem;

        ul {
            padding-left: 50px;
            padding-right: 20px;

            li {
                &:not(:last-child) {
                    padding-bottom: 10px;
                }
            }
        }
    }

    @media screen and (min-width:1200px) {
        .content-para.text-center {
            padding: 0 130px;
        }
    }
}

.acheivements {
    .row.ach-exp {
        width: fit-content;
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;

        @include respond(tab-land-before) {
            margin-top: 2rem;
        }

        @include respond(tab-port-before) {
            margin-top: 1rem;
        }
    }

    .card {
        margin-bottom: 3rem;
        background: transparent;
        border: 1px solid $colorNavyBlue;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: $transition;

        .heading-five {
            color: $colorNavyBlue;
            border-color: $colorNavyBlue;
        }

        &:hover {
            background: $colorBgBlue;
            box-shadow: none;

            a,
            h4,
            i {
                color: $colorWhite
            }

            .heading-five {
                background: $colorWhite;
                color: $colorBgBlue;
                border-color: $colorBgBlue;

            }

            img {
                transform: scale(1.2);
                filter: grayscale(1);
            }
        }

        h4 {
            transition: $transition;
            color: $colorNavyBlue;
            font-family: "Poppins", sans-serif !important;
        }

        a {
            color: inherit;
            transition: $transition;

            i {
                display: block;
                text-align: right;
                padding-top: 20px;
                font-size: 30px;
                color: $colorNavyBlue;
            }
        }

        .achv-content {
            padding: 30px 30px 20px 30px;
        }

        .achv-img {
            overflow: hidden;
            border-radius: 10px 10px 0 0;

            img {
                transition: $transition;
                object-fit: cover;
                object-position: left;
                min-height: 300px;
            }
        }
    }
}

.latest-article-section {
    .content-para.text-center {
        @include respond (small-desktop-after) {
            padding: 0 130px;
        }
    }

    .latest-card {
        margin-top: 5rem;

        &__image {
            img {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
                object-position: bottom;
                filter: brightness(1.3);
            }
        }

        &__content {
            position: relative;
            padding: 60px 15px 30px 15px;
            border-left: 1px;
            border-right: 1px;
            border-bottom: 1px;
            border-color: $colorBgBlue;
            border-style: solid;

            .global-btn-two {
                margin-top: 20px;
                background: $colorBgBlue;
                border-color: $colorBgBlue !important;

                &:hover {
                    background: transparent;
                    color: $colorBgBlue;
                }
            }

            .heading-fourth {
                color: $colorBgBlue;
            }

            .date {
                position: absolute;
                top: -50px;
                right: 20px;
                background: $colorBgBlue;
                color: $colorWhite;
                font-size: 7rem;
                font-weight: 700;
                line-height: 0.9;
                text-align: center;
                padding: 10px;

                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.prospectus {
    background: $colorBgBlue;
    padding: 3rem 0;
    position: relative;

    @include respond(tab-land-before) {
        padding: 2rem 0;
    }

    @include respond(tab-port-before) {
        padding: 3rem 0;
    }

    // &::before {
    //     content: "";
    //     background-image: url(../images/Background.jpg);
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     background-size: cover;
    //     mix-blend-mode: color-burn;
    //     opacity: 0.3;
    //     background-position: top;
    // }

    // &::after {
    //     content: "";
    //     background-image: url(../images/Background.jpg);
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     background-size: cover;
    //     mix-blend-mode: color-burn;
    //     opacity: 0.3;
    //     background-position: bottom;
    // }

    .container-fluid {
        position: relative;
        z-index: 1;
    }

    .prospectus-grid {
        display: grid;

        @include respond (small-desktop-before) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond (tab-land-before) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond (phone-before) {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        &__items {
            &:last-child {
                @include respond (small-desktop-before) {
                    grid-column: span 4;
                }

                @include respond (small-desktop-before) {
                    grid-column: span 2;
                }

                @include respond (phone-before) {
                    grid-column: span 2;
                }
            }
        }

        &__content {
            text-align: center;

            h6 {
                padding-top: 10px;
                text-align: center;
                color: $colorWhite;

                @include respond (phone-before) {
                    font-size: 18px;
                    font-weight: 700;
                }

                font-family: "Poppins",
                sans-serif !important;
            }

            a {
                display: grid;
                place-content: center;
                padding: 1rem 2rem;

                @include respond (phone-before) {
                    padding: 2rem 1rem;
                }

                // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                background: darken($colorBgBlue, $amount: 7);
                color: $colorWhite;

                img {
                    width: 60px;
                    margin: auto;
                    filter: brightness(0) invert(1);

                    @include respond (phone-before) {
                        width: 40px;
                    }
                }
                i{
                    font-size: 30px;
                }
            }
        }
    }
}

.awards-recognition {
    .content-para.text-center {
        @include respond (small-desktop-after) {
            padding: 0 130px;
        }
    }

    .awards-slider {
        margin-top: 7rem;

        .awards-img {
            img {
                height: 245px;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

.facility {
    .owl-dots {
        .owl-dot {
            &:not(:last-child) {
                margin-right: 7.5px;
            }

            span {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                display: block;
                background: $colorNavyBlue;
            }

            &.active span {
                background: rgba($colorBgBlue, 1);
            }
        }
    }

    .item {
        a {
            display: block;
            margin: 1rem 0;
        }
    }

    .facility-item {
        text-align: center;
        border-bottom: 3px solid;
        padding: 3rem 0 0 0;
        border-radius: 0.5rem;

        @media screen and (max-width:768px) {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 0.5rem 3rem;
        }

        @media screen and (min-width:768.1px) {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }

        transition: $transition;
        border-bottom-color: $colorBgBlue;

        .ico-content {
            background: rgba($colorBgBlue, 1);
            padding: 3rem 1.8rem;

            @media screen and (min-width:1200px) and (max-width:1399.9px) {
                height: 250px;
            }

            @media screen and (min-width:992px) and (max-width:1199.9px) {
                height: 280px;
            }

            @media screen and (min-width:600px) and (max-width:991.9px) {
                height: 290px;
            }
        }

        &:hover {
            transform: translateY(-5px);
            border-bottom-color: $colorNavyBlue;

            .icon {
                transform: rotate(360deg);
                background: $colorNavyBlue;
            }

            h4 {
                color: $colorWhite;
            }
        }

        h4,
        p {
            color: $colorWhite;
            font-family: "Poppins", sans-serif !important;
        }

        .icon {
            transition: 1s ease-out;
            background: $colorBgBlue;


            img {
                width: 5rem;
                filter: brightness(10) invert(1);
            }

            margin-bottom: 2rem;
            display: inline-block;
            padding: 25px;
            border-radius: 100%;
            margin-bottom: 20px;
        }
    }

    text-align: center;

    h4 {
        clear: both;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 1rem;
        padding: 0;
        font-size: 20px;
    }

    p {
        color: #707070;
    }
}

.youtube-videos {
    .owl-carousel {
        margin: -20px 0;
    }

    .modal-dialog {
        width: 100%;
        max-width: 90%;
        margin: auto;
    }

    .modal-content {
        background: transparent;

        button {
            position: absolute;
            right: 0;
            top: -30px;
        }

        .modal-body {
            padding: 0;
        }
    }
}

.interaction-videos {
    .interaction-wrapper {
        transition: $transition;

        &:hover {
            transform: translateY(-5px);

            img {
                transform: scale(1.1);
            }
        }

        .item {
            padding: 20px;
        }

        .interact-img {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            height: 20rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
                transition: $transition;
            }

            .interact-overlay {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;

                &::after {
                    content: "";
                    background: $colorWhite;
                    position: absolute;
                    top: 42%;
                    height: 12px;
                    z-index: -1;
                    width: 12px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                a {
                    color: $colorWhite;
                }

                i {
                    color: #f00;
                    font-size: 3rem;
                }
            }
        }

        .interact-contant {
            padding: 2rem;
            display: none;

            h4 {
                text-transform: uppercase;
                font-size: 16px;
            }

            .content-para {
                text-align: center;
                margin: 1rem 0;

                @include respond (tab-land-after) {
                    p {
                        text-align: left;
                    }
                }
            }
        }

        // border-bottom: 3px solid $colorBgBlue;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 22px 0px;
        margin: 20px 0;
    }

    .owl-nav {
        transition: $transition;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        button {
            .fa-solid {
                background: rgba($colorBgBlue, 1);
                height: 3rem;
                display: grid;
                width: 3rem;
                border-radius: 50%;
                place-content: center;
                color: #fff;
                font-size: 2rem;
            }

            &.owl-prev {
                left: 0;
            }

            &.owl-next {
                right: 0;
            }
        }
    }

    &:hover {
        .owl-nav {
            opacity: 1;
            visibility: visible;
        }
    }
}
.holistic-section{
    .rightImg{
        @media screen and (min-width:575px) {
            float: right;
        width: 55rem;
        margin-left: 2rem;
        }
        margin-bottom: 2rem;
    }
}
.cis-compare{
    table{
        th, td{
             @media screen and (max-width:992px) {
                font-size: 14px;
            }
            &:first-child{
                width: 250px;
            }
            &:not(:first-child){
                width: 40%;
            }
            
        }
        thead{
            background: #19649c;
            th{
                color:$colorWhite;
            }
        }
        tbody{
            tr{
                &:nth-child(even){
                    background: rgba($colorBgBlue, 0.1);
                }
                &:hover{
                    background: rgba($colorBgBlue, 0.18);
                }
            }
        }
        strong{
            display: block;
        }
    }
}

.cis-vs-traditional{
    table{
        margin-bottom: 0;
        th, td{
            width: 50%;
            @media screen and (max-width:992px) {
                font-size: 14px;
            }
        }
        thead{
            background: #19649c;
            th{
                color:$colorWhite;
            }
        }
        tbody{
            tr{
                &:nth-child(even){
                    background: rgba($colorBgBlue, 0.1);
                }
                &:hover{
                    background: rgba($colorBgBlue, 0.18);
                }
            }
        }
    }
    .tr-img{
        height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    }
}
.groundbreaking{
    background: rgba($colorBgBlue, 1);
    padding: 7rem 0;
    h2{
        margin-bottom: 0;
    }
    .left-image{
        width: 50rem;
        float: right;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
    }
    p strong{
        @media screen and (min-width:1200px) {
            font-size: 36px;
        }
        @media screen and (min-width:768px) and (max-width:1199.9px) {
            font-size: 24px;
        }
    }
    figcaption {
    text-align: center;
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700;
}
figure{
    float: left;
    width: 30rem;
    margin-right: 1rem;
    @media screen and (max-width:768px) {
        float: none;
        width: 80%;
        margin: auto!important;
    }
}
}
.social-initiatives{
    .col-md-6{
        text-align: center;
    }
    .ini-photos, .ini-videos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 2rem;
        margin-top: 2rem;
        img{
            border-radius: 1rem;
            height: 175px;
            object-fit: cover;
        }
    }
}
.achv-content {
    h4{
        text-transform: capitalize;
    }
}